<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Control Panel</title>
  <link rel="icon" href="https://app.fffutu.re/img/cropped-icon-32x32.png" sizes="32x32">
  <link rel="icon" href="https://app.fffutu.re/img/cropped-icon-192x192.png" sizes="192x192">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      font-size: .875rem;
    }

    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }

    /*
 * Sidebar
 */

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 48px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (max-width: 767.98px) {
      .sidebar {
        top: 5rem;
      }
    }

    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
      }
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999;
    }

    .sidebar .nav-link.active {
      color: #1DA64A;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }

    /*
 * Navbar
 */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: #1B7340;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .navbar-toggler {
      top: .25rem;
      right: 1rem;
    }

    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }

    .form-control-dark {
      color: #fff;
      background-color: #1B7340;
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script>
    function requestPopulate() {
      const populate = new XMLHttpRequest();
      const url = '/admin/controls/populateDB';
      populate.open("POST", url);
      populate.send();
      populate.onreadystatechange = (e) => {
        console.log(populate.responseText);
        const state = JSON.parse(populate.responseText);
        if (state.performedPopulate == true) {
          document.getElementById("populate").textContent = "Datenbank aktualisiert";
        } else if (state.performedPopulate == false) {
          document.getElementById("populate").textContent = "Datenbank konnte nicht aktualisiert werden";
        }
      }
    }

  </script>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Control Panel</span>
    <form class="form-inline" action="/admin/controls/user/logout" method="post">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#DatenbankPage">
                <span data-feather="file"></span>
                Datenbank <span class="sr-only">(aktive Seite)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ServicesPage">
                <span data-feather="cloud"></span>
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#MonitorPage">
                <span data-feather="activity"></span>
                Online-Monitor
              </a>
            </li>

            <% if (admin) { %>
            <!-- Render Admin Only tabs here -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#UserPage">
                <span data-feather="users"></span>
                Benutzerverwaltung
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#LogPage">
                <span data-feather="archive"></span>
                Logs
              </a>
            </li>
            <% } %>

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="tab-content">
          <div id="DatenbankPage" class="tab-pane fade show active">
            <br>
            <h3>
              Liveevent
            </h3>
            <hr class="my-4">
            <form action="/admin/controls/liveevent" method="post" target="dummyframe">
              <input type="hidden" id="id" name="id" value="0">

              <input type="radio" id="active" name="isActive" value="true" checked>
              <label for="active">Aktiviert</label><br>
              <input type="radio" id="inactive" name="isActive" value="false">
              <label for="inactive">Deaktiviert</label><br>

              <label for="actionText">Text:</label>
              <input class="form-control" type="text" id="actionText" name="actionText"><br>

              <label for="actionUrl">Link:</label>
              <input class="form-control" type="text" id="actionUrl" name="actionUrl"><br>

              <input type="radio" id="inApp" name="inApp" value="true">
              <label for="inApp">inApp</label><br>
              <input type="radio" id="notInApp" name="inApp" value="false" checked>
              <label for="notInApp">nicht inApp</label><br>

              <input type="submit" class="btn btn-primary" value="Aktualisieren">
            </form><br><br>

            <h3>
              Datenbank füllen
            </h3>
            <hr class="my-4">
            <span id="populate">Nicht ausgeführt</span><br><br>
            <button class="btn btn-primary" type="button" onclick="requestPopulate()">Jetzt Datenbank
              aktualisieren</button><br><br>
          </div>

          <div id="ServicesPage" class="tab-pane fade">
            <br>
            <h3>
              Firebase-Status
            </h3>
            <hr class="my-4">
            <span id="status"><%= firebaseStatus %></span>
          </div>

          <div id="MonitorPage" class="tab-pane fade">
            <iframe id="statusframe" style="width: 70vw;height: 100vh;position: relative;" scrolling="no" src=""
              frameborder="0" allowfullscreen></iframe>
          </div>

          <% if (admin) { %>
          <!-- Render Admin Only tabs here -->
          <div id="UserPage" class="tab-pane fade">
            <br>
            <h3>
              Benutzerübersicht
            </h3>
            <hr class="my-4">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Online</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rechte</th>
                    <th scope="col">Aktionen</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<users.length; i++) {%>
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td>
                      <% if (users[i]["active"]) { %>
                      <span data-feather="check"></span>
                      <% } else { %>
                      <span data-feather="x"></span>
                      <% } %>
                    </td>
                    <td><%= users[i]["name"] %></td>
                    <td><%= users[i]["rights"] %></td>
                    <td>
                      <form action="/admin/controls/user/remove" method="post">
                        <input type="hidden" name="username" value="<%= users[i]["name"] %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>
                    </td>
                  </tr>
                  <% } %>
                  <tr>
                    <form action="/admin/controls/user/create" method="post">
                      <th scope="row"></th>
                      <td></td>
                      <td><input type="text" name="username" class="form-control"></td>
                      <td>
                        <select class="form-control" name="admin">
                          <option>Administrator</option>
                          <option>Developer</option>
                        </select>
                      </td>
                      <td><input type="submit" value="Erstellen" class="btn btn-primary"></td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="LogPage" class="tab-pane fade">
            Not yet implemented
          </div>
          <% } %>
        </div>

        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

      </main>
    </div>
  </div>

  <script>
    feather.replace()

    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
      if ($(e.target).text().includes("Online-Monitor")) {
        document.getElementById('statusframe').src = "/admin/status";
      }
    });
  </script>
</body>

</html>