<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Control Panel</title>
  <link rel="icon" href="https://app.fffutu.re/img/cropped-icon-32x32.png" sizes="32x32">
  <link rel="icon" href="https://app.fffutu.re/img/cropped-icon-192x192.png" sizes="192x192">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    body {
      font-size: .875rem;
    }

    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }

    .collapsing {
      -webkit-transition: none;
      transition: none;
      display: none;
    }

    /*
 * Sidebar
 */

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 48px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (max-width: 767.98px) {
      .sidebar {
        top: 5rem;
      }
    }

    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
      }
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999;
    }

    .sidebar .nav-link.active {
      color: #1DA64A;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }

    /*
 * Navbar
 */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: #1B7340;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .navbar-toggler {
      top: .25rem;
      right: 1rem;
    }

    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }

    .form-control-dark {
      color: #fff;
      background-color: #1B7340;
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script>
    function requestPopulate() {
      document.getElementById("popStatus").textContent = "FFF-Daten werden aktualisiert";
      document.getElementById("popButton").disabled = true;
      document.getElementById("popSpinner").hidden = false;
      const populate = new XMLHttpRequest();
      const url = '/admin/controls/action/populateDB';
      populate.open("POST", url);
      populate.send();
      populate.onreadystatechange = (e) => {
        console.log(populate.responseText);
        const state = JSON.parse(populate.responseText);
        if (state.performedPopulate == true) {
          document.getElementById("popStatus").textContent = "FFF-Daten aktualisiert";
        } else if (state.performedPopulate == false) {
          document.getElementById("popStatus").textContent = "FFF-Daten konnten nicht aktualisiert werden";
        }
        document.getElementById("popSpinner").hidden = true;
      }
    }
  </script>
</head>

<body>
  <!-- Error Modal -->
  <% if (error) { %>
  <div id="modalid" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Fehler</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bei der letzten Funktion ist ein Fehler aufgetreten. Wenn du dir sicher bist, dass du alles richtig gemacht
            hast, benachrichtige @backend-dev auf Discord.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- Title -->
    <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Control Panel</span>

    <!-- User menu -->
    <li class="nav-item dropdown pr-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <%= currUser.name %>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <span class="dropdown-item-text" style="margin-right: 6rem;"><%= currUser.rights %></span>

        <div class="dropdown-divider"></div>

        <nobr><span class="dropdown-item-text">Passwort ändern</span></nobr>
        <form action="/admin/controls/user/changePassword" method="post" class="px-4 py-3">
          <div class="form-group">
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" name="password"
              placeholder="neues Passwort">
          </div>
          <button type="submit" class="btn btn-primary">Ändern</button>
        </form>

        <div class="dropdown-divider"></div>

        <form class="form-inline" action="/admin/controls/user/logout" method="post">
          <button class="dropdown-item" type="submit">Logout</button>
        </form>
      </div>
    </li>

    <!-- Sidebar button for mobile-->
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar-->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#DatenbankPage">
                <span data-feather="file"></span> Datenbank
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ServicesPage">
                <span data-feather="cloud"></span> Services
              </a>
            </li>

            <% if (currUser.admin) { %>
            <!-- Render Admin Only tabs here -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#UserPage">
                <span data-feather="users"></span> Benutzerverwaltung
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#LogPage">
                <span data-feather="archive"></span> Logs
              </a>
            </li>
            <% } %>

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="tab-content">
          <!-- Datenbank Tab -->
          <div id="DatenbankPage" class="tab-pane fade">
            <br>
            <h3>
              Liveevent
            </h3>
            <hr class="my-4">
            <form action="/admin/controls/action/liveevent" method="post">
              <input type="hidden" id="id" name="id" value="0">

              <label for="actionText">Text:</label>
              <input class="form-control" type="text" id="actionText" name="actionText"
                value="<%= liveevent.actionText %>"><br>

              <label for="actionUrl">Link:</label>
              <input class="form-control" type="text" id="actionUrl" name="actionUrl"
                value="<%= liveevent.actionUrl %>"><br>

              <input type="radio" id="inApp" name="inApp" value="on" <% if (liveevent.inApp) { %> checked <% } %>>
              <label for="inApp">In der App</label><br>
              <input type="radio" id="notInApp" name="inApp" value="off" <% if (!liveevent.inApp) { %> checked <% } %>>
              <label for="notInApp">Nicht in der App</label><br>

              <input type="radio" id="active" name="isActive" value="on" <% if (liveevent.isActive) { %> checked
                <% } %>>
              <label for="active">Aktiviert</label><br>
              <input type="radio" id="inactive" name="isActive" value="off" <% if (!liveevent.isActive) { %> checked
                <% } %>>
              <label for="inactive">Deaktiviert</label><br>

              <input type="submit" class="btn btn-primary" value="Aktualisieren">
            </form>

            <br><br>
            <h3>
              Demosprüche
            </h3>
            <hr class="my-4">
            <div class="container mt-4">
              <div class="row">
                <% if(slogans.length > 0) { %>
                <div class="col-auto mb-3 collapse show slogansToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-text">
                        <%= slogans.length %>
                      </h1>
                      <p class="card-text">
                        <% if (slogans.length > 1) {  %>
                        Sprüche
                        <% } else { %>
                        Spruch
                        <% } %>
                      </p>
                      <button class="btn btn-primary" data-toggle="collapse" href=".slogansToggle">Anzeigen</button>
                    </div>
                  </div>
                </div>
                <% } %>
                <% for(var i=0; i<slogans.length; i++) { %>
                <div class="col-auto mb-3 collapse slogansToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/slogans/edit" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= slogans[i]._id%>">
                        <p class="card-text inputGroup_SloganCard-<%= i %> collapse show">
                          <%= slogans[i].text %>
                        </p>
                        <p class="card-text inputGroup_SloganCard-<%= i %> collapse">
                          <textarea placeholder="Text" class="form-control" name="text"
                            rows="1"><%= slogans[i].text %></textarea>
                        </p>

                        <% for(var t=0; t<slogans[i].tags.length; t++) { %>
                        <span
                          class="badge badge-pill badge-secondary inputGroup_SloganCard-<%= i %> collapse show"><%= slogans[i].tags[t] %></span>
                        <% } %>
                        <p class="card-text inputGroup_SloganCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Tags durch Komma getrennt" name="tags"
                            value="<%= slogans[i].tagsText %>">
                        </p>

                        <br><br>

                        <input class="btn btn-primary btn-sm mb-1 inputGroup_SloganCard-<%= i %> collapse" type="submit"
                          value="Speichern">
                      </form>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_SloganCard-<%= i %> collapse"
                        data-toggle="collapse" href=".inputGroup_SloganCard-<%= i %>">Abbrechen</button>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_SloganCard-<%= i %> collapse show"
                        data-toggle="collapse" href=".inputGroup_SloganCard-<%= i %>">Bearbeiten</button><br>
                      <form action="/admin/controls/slogans/remove" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= slogans[i]._id %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>

                    </div>
                  </div>
                </div>
                <% } %>
                <div class="col-auto mb-3">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/slogans/add" method="post" style="display: inline;">
                        <p class="card-text">
                          <textarea placeholder="Text" class="form-control" name="text" rows="1"></textarea>
                        </p>
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Tags durch Komma getrennt" name="tags">
                        </p>
                        <input type="submit" value="Hinzufügen" class="form-control btn-primary">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br><br>
            <h3>
              Banner
            </h3>
            <hr class="my-4">
            <div class="container mt-4">
              <div class="row">
                <% if(banners.length > 0) { %>
                <div class="col-auto mb-3 collapse show bannerToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-text">
                        <%= banners.length %>
                      </h1>
                      <p class="card-text">
                        Banner
                      </p>
                      <button class="btn btn-primary" data-toggle="collapse" href=".bannerToggle">Anzeigen</button>
                    </div>
                  </div>
                </div>
                <% } %>
                <% for(var i=0; i<banners.length; i++) { %>
                <div class="col-auto mb-3 collapse bannerToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/banner/edit" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= banners[i]._id%>">

                        <!-- imageUrl -->
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse show">
                          <b>Bild-Url:</b> <a href="<%= banners[i].imageUrl %>"><%= banners[i].imageUrl %></a>
                        </p>
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Bild-URL" name="imageUrl"
                            value="<%= banners[i].imageUrl %>">
                        </p>

                        <!-- link -->
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse show">
                          <b>Link:</b> <a href="<%= banners[i].link %>"><%= banners[i].link %></a>
                        </p>
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Link" name="link"
                            value="<%= banners[i].link %>">
                        </p>

                        <!-- campaignBanner -->
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse show">
                          <% if (banners[i].campaignBanner) { %>
                          Banner für Kampagnenseite
                          <% } %>
                        </p>
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse">
                          <input type="checkbox" id="campaignBannerCheck" name="campaignBanner" value="on" <% if (banners[i].campaignBanner) { %> checked
                            <% } %>>
                          <label for="campaignBannerCheck">Banner für Kampagnenseite</label>
                        </p>

                        <!-- inApp -->
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse show">
                          <% if (banners[i].inApp) { %>
                          In der App
                          <% } else { %>
                          Nicht in der App
                          <% } %>
                        </p>
                        <p class="card-text inputGroup_BannerCard-<%= i %> collapse">
                          <input type="radio" id="inApp" name="inApp" value="on" <% if (banners[i].inApp) { %> checked
                            <% } %>>
                          <label for="active">Ja</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off" <% if (!banners[i].inApp) { %>
                            checked <% } %>>
                          <label for="inactive">Nein</label>
                        </p>

                        <br><br>

                        <input class="btn btn-primary btn-sm mb-1 inputGroup_BannerCard-<%= i %> collapse"
                          type="submit" value="Speichern">
                      </form>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_BannerCard-<%= i %> collapse"
                        data-toggle="collapse" href=".inputGroup_BannerCard-<%= i %>">Abbrechen</button>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_BannerCard-<%= i %> collapse show"
                        data-toggle="collapse" href=".inputGroup_BannerCard-<%= i %>">Bearbeiten</button><br>
                      <form action="/admin/controls/banner/remove" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= banners[i]._id %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>

                    </div>
                  </div>
                </div>
                <% } %>
                <div class="col-auto mb-3">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/banner/add" method="post" style="display: inline;">

                        <!-- imageUrl -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Bild-URL" name="imageUrl" value="">
                        </p>
                        
                        <!-- link -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Link" name="link" value="">
                        </p>

                        <!-- campaignbanner -->
                        <p class="card-text">
                          <input type="checkbox" class="form-control" name="link" value="on">
                        </p>

                        <!-- inApp -->
                        <p class="card-text">
                          <input type="radio" id="inApp" name="inApp" value="on" checked>
                          <label for="active">inApp</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off">
                          <label for="inactive">nicht inApp</label>
                        </p>

                        <input type="submit" value="Hinzufügen" class="form-control btn-primary">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <br><br>
            <h3>
              Feed
            </h3>
            <hr class="my-4">
            <div class="container mt-4">
              <div class="row">
                <% if(feed.length > 0) { %>
                <div class="col-auto mb-3 collapse show feedToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-text">
                        <%= feed.length %>
                      </h1>
                      <p class="card-text">
                        <% if (feed.length > 1) {  %>
                        Feed-Items
                        <% } else { %>
                        Feed-Item
                        <% } %>
                      </p>
                      <button class="btn btn-primary" data-toggle="collapse" href=".feedToggle">Anzeigen</button>
                    </div>
                  </div>
                </div>
                <% } %>
                <% for(var i=0; i<feed.length; i++) { %>
                <div class="col-auto mb-3 collapse feedToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/feed/edit" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= feed[i]._id%>">

                        <!-- imageUrl -->
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse show">
                          <b>Bild-Url:</b> <a href="<%= feed[i].imageUrl %>"><%= feed[i].imageUrl %></a>
                        </p>
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Bild-URL" name="imageUrl"
                            value="<%= feed[i].imageUrl %>">
                        </p>

                        <!-- text -->
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse show">
                          <b>Text:</b> <%= feed[i].text %>
                        </p>
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse">
                          <textarea placeholder="Text" class="form-control" name="text"
                            rows="1"><%= feed[i].text %></textarea>
                        </p>

                        <!-- cta -->
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse show">
                          <b>Call to Action:</b> <%= feed[i].cta %>
                        </p>
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Call to Action" name="cta"
                            value="<%= feed[i].cta %>">
                        </p>

                        <!-- link -->
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse show">
                          <b>Link:</b> <a href="<%= feed[i].link %>"><%= feed[i].link %></a>
                        </p>
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Link" name="link"
                            value="<%= feed[i].link %>">
                        </p>

                        <!-- inApp -->
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse show">
                          <% if (feed[i].inApp) { %>
                          In der App
                          <% } else { %>
                          Nicht in der App
                          <% } %>
                        </p>
                        <p class="card-text inputGroup_FeedCard-<%= i %> collapse">
                          <input type="radio" id="inApp" name="inApp" value="on" <% if (feed[i].inApp) { %> checked
                            <% } %>>
                          <label for="active">Ja</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off" <% if (!feed[i].inApp) { %>
                            checked <% } %>>
                          <label for="inactive">Nein</label>
                        </p>


                        <br><br>

                        <input class="btn btn-primary btn-sm mb-1 inputGroup_FeedCard-<%= i %> collapse"
                          type="submit" value="Speichern">
                      </form>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_FeedCard-<%= i %> collapse"
                        data-toggle="collapse" href=".inputGroup_FeedCard-<%= i %>">Abbrechen</button>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_FeedCard-<%= i %> collapse show"
                        data-toggle="collapse" href=".inputGroup_FeedCard-<%= i %>">Bearbeiten</button><br>
                      <form action="/admin/controls/feed/remove" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= feed[i]._id %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>

                    </div>
                  </div>
                </div>
                <% } %>
                <div class="col-auto mb-3">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/feed/add" method="post" style="display: inline;">

                        <!-- imageUrl -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Bild-URL" name="imageUrl" value="">
                        </p>

                        <!-- text -->
                        <p class="card-text">
                          <textarea placeholder="Text" class="form-control" name="text" rows="1"></textarea>
                        </p>

                        <!-- cta -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Call to Action" name="cta" value="">
                        </p>

                        <!-- link -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Link" name="link" value="">
                        </p>

                        <!-- inApp -->
                        <p class="card-text">
                          <input type="radio" id="inApp" name="inApp" value="on" checked>
                          <label for="active">inApp</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off">
                          <label for="inactive">nicht inApp</label>
                        </p>

                        <input type="submit" value="Hinzufügen" class="form-control btn-primary">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>          

            <br><br>
            <h3>
              Kampagnen
            </h3>
            <hr class="my-4">
            <div class="container mt-4">
              <div class="row">
                <% if(campaigns.length > 0) { %>
                <div class="col-auto mb-3 collapse show campaignToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-text">
                        <%= campaigns.length %>
                      </h1>
                      <p class="card-text">
                        <% if (campaigns.length > 1) {  %>
                        Kampagnen
                        <% } else { %>
                        Kampagne
                        <% } %>
                      </p>
                      <button class="btn btn-primary" data-toggle="collapse" href=".campaignToggle">Anzeigen</button>
                    </div>
                  </div>
                </div>
                <% } %>
                <% for(var i=0; i<campaigns.length; i++) { %>
                <div class="col-auto mb-3 collapse campaignToggle">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/campaigns/edit" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= campaigns[i]._id%>">

                        <!-- name -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                        <h4>
                          <%= campaigns[i].name %>
                        </h4>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Name" name="name"
                            value="<%= campaigns[i].name %>">
                        </p>

                        <!-- icon -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                          <b>Icon:</b> <%= campaigns[i].icon %>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Icon" name="icon"
                            value="<%= campaigns[i].icon %>">
                        </p>

                        <!-- text -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                          <b>Text:</b> <%= campaigns[i].text %>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <textarea placeholder="Text" class="form-control" name="text"
                            rows="1"><%= campaigns[i].text %></textarea>
                        </p>

                        <!-- cta -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                          <b>Call to Action:</b> <%= campaigns[i].cta %>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Call to Action" name="cta"
                            value="<%= campaigns[i].cta %>">
                        </p>

                        <!-- link -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                          <b>Link:</b> <a href="<%= campaigns[i].link %>"><%= campaigns[i].link %></a>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <input type="text" class="form-control" placeholder="Link" name="link"
                            value="<%= campaigns[i].link %>">
                        </p>

                        <!-- inApp -->
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse show">
                          <% if (campaigns[i].inApp) { %>
                          In der App
                          <% } else { %>
                          Nicht in der App
                          <% } %>
                        </p>
                        <p class="card-text inputGroup_CampaignCard-<%= i %> collapse">
                          <input type="radio" id="inApp" name="inApp" value="on" <% if (campaigns[i].inApp) { %> checked
                            <% } %>>
                          <label for="active">Ja</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off" <% if (!campaigns[i].inApp) { %>
                            checked <% } %>>
                          <label for="inactive">Nein</label>
                        </p>

                        <br><br>

                        <input class="btn btn-primary btn-sm mb-1 inputGroup_CampaignCard-<%= i %> collapse"
                          type="submit" value="Speichern">
                      </form>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_CampaignCard-<%= i %> collapse"
                        data-toggle="collapse" href=".inputGroup_CampaignCard-<%= i %>">Abbrechen</button>
                      <button class="btn btn-primary btn-sm mb-1 inputGroup_CampaignCard-<%= i %> collapse show"
                        data-toggle="collapse" href=".inputGroup_CampaignCard-<%= i %>">Bearbeiten</button><br>
                      <form action="/admin/controls/campaigns/remove" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= campaigns[i]._id %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>

                    </div>
                  </div>
                </div>
                <% } %>
                <div class="col-auto mb-3">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <form action="/admin/controls/campaigns/add" method="post" style="display: inline;">

                        <!-- name -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Name" name="name" value="">
                        </p>

                        <!-- icon -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Icon" name="icon" value="">
                        </p>

                        <!-- text -->
                        <p class="card-text">
                          <textarea placeholder="Text" class="form-control" name="text" rows="1"></textarea>
                        </p>

                        <!-- cta -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Call to Action" name="cta" value="">
                        </p>

                        <!-- link -->
                        <p class="card-text">
                          <input type="text" class="form-control" placeholder="Link" name="link" value="">
                        </p>

                        <!-- inApp -->
                        <p class="card-text">
                          <input type="radio" id="inApp" name="inApp" value="on" checked>
                          <label for="active">inApp</label>
                          <input type="radio" id="NotinApp" name="inApp" value="off">
                          <label for="inactive">nicht inApp</label>
                        </p>

                        <input type="submit" value="Hinzufügen" class="form-control btn-primary">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br><br>
            <h3>
              FFF-Daten aktualisieren
            </h3>
            <hr class="my-4">
            <button class="btn btn-primary" type="button" id="popButton" onclick="requestPopulate()">
              <span id="popSpinner" class="spinner-border spinner-border-sm" role="status" hidden="true"></span>
              <span id="popStatus">Jetzt FFF-Daten aktualisieren</span>
            </button>
            <br><br>
          </div>

          <!-- Service Tab -->
          <div id="ServicesPage" class="tab-pane fade">
            <br>
            <h3>
              Firebase-Status
            </h3>
            <hr class="my-4">
            <% if (firebaseStatus) { %>
            <span data-feather="check"></span> Verbunden
            <% } else { %>
            <span data-feather="x"></span> Nicht verbunden
            <% } %>
          </div>

          <% if (currUser.admin) { %>
          <!-- Render Admin Only tabs here -->
          <!-- User Tab -->
          <div id="UserPage" class="tab-pane fade">
            <br>
            <h3>
              Benutzerübersicht
            </h3>
            <hr class="my-4">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Online</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rechte</th>
                    <th scope="col">Aktionen</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<users.length; i++) {%>
                  <tr>
                    <th scope="row">
                      <%= i+1 %>
                    </th>
                    <td>
                      <% if (users[i]["active"]) { %>
                      <span data-feather="check"></span>
                      <% } else { %>
                      <span data-feather="x"></span>
                      <% } %>
                    </td>
                    <td>
                      <%= users[i]["name"] %>
                    </td>
                    <td>
                      <%= users[i]["rights"] %>
                    </td>
                    <td>
                      <form action="/admin/controls/user/remove" method="post" style="display: inline;">
                        <input type="hidden" name="username" value="<%= users[i]["name"] %>">
                        <input type="submit" value="Entfernen" class="btn btn-primary btn-sm">
                      </form>
                      <% if(!users[i]["admin"]) { %>
                      <form action="/admin/controls/user/makeAdmin" method="post" style="display: inline;">
                        <input type="hidden" name="username" value="<%= users[i][" name "] %>">
                        <input type="submit" value="Zum Administrator machen" class="btn btn-primary btn-sm">
                      </form>
                      <% } %>
                    </td>
                  </tr>
                  <% } %>
                  <tr>
                    <form action="/admin/controls/user/create" method="post">
                      <th scope="row"></th>
                      <td></td>
                      <td><input type="text" name="username" class="form-control"></td>
                      <td>
                        <select class="form-control" name="admin">
                          <option>Administrator</option>
                          <option>App-AG Mitglied</option>
                        </select>
                      </td>
                      <td><input type="submit" value="Erstellen" class="btn btn-primary"></td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Log Tab -->
          <div id="LogPage" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Uhrzeit</th>
                    <th scope="col">Benutzer</th>
                    <th scope="col">IP</th>
                    <th scope="col">Aktion</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=logs.length-1; i>=0; i--) { %>
                  <tr>
                    <th scope="row">
                      <%= i %>
                    </th>
                    <td>
                      <%= logs[i].time %>
                    </td>
                    <td>
                      <%= logs[i].user %>
                    </td>
                    <td>
                      <%= logs[i].ip %>
                    </td>
                    <td>
                      <%= logs[i].action %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <% } %>
        </div>
      </main>
    </div>
  </div>

  <script>
    feather.replace()
    $("#modalid").modal("show");

    //when the page loads, change the tab according to the entry localStorage (or if anchor exists according to that)
    var activeTab = localStorage.getItem('activeTab');
    if (location.hash) {
      $("a[href='" + location.hash + "']").click();
    } else if (activeTab) {
      $("a[href='" + activeTab + "']").click();
    } else {
      $("a[href='#DatenbankPage']").click();
    }

    //change the anchor and the localStorage when a tab is changed
    $("a[data-toggle='tab']").on("click", function (e) {
      var tab_name = this.getAttribute("href");
      location.hash = tab_name;
      localStorage.setItem("activeTab", tab_name);
      return true;
    });
  </script>
</body>

</html>